Source: perl
Section: core
Priority: standard
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Standards-Version: 3.8.0

Package: miniperl
Architecture: any
Provides: perl
Depends: ${miniperl:Depends}
Description: The Pathologically Eclectic Rubbish Lister
 This package contains just a perl binary, it might be required for execution
 of some system scripts.
